* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}




header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: skyblue;
}

.logo {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 30px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: blue;
    font-size: 14px;
}


button {
    padding: 12px 25px;
    border-radius: 25px;
    background: white;
    border: 1px solid black;
}


.hero {
    min-height: calc(100vh - 90px);

    display: flex;
    align-items: center;
    justify-content: space-around;

    background: black;
}

.text {
    width: 50%;
}

.text p {
    color: blue;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}

h1 {
    font-size: 60px;
    line-height: 1.1;
    color: #109fc8;
}

h1 span {
    background: linear-gradient(90deg,
            #109fc8,
            #8c4ec4);
    -webkit-background-clip: text;
    color: transparent;
}

.cv {
    display: inline-block;

    margin-top: 30px;

    padding: 16px 30px;

    background: white;
    color: blue;

    text-decoration: none;

    border-radius: 30px;

    font-size: 12px;
    font-weight: bold;
}



.facebook {
    color: blue;
    font-size: 28px;
    font-weight: 900;
    transform: translateY(-2px);
}

.twitter {
    color: white;
}

.twitter svg {
    width: 28px;
    height: 28px;
    transform: translateY(2px);
    
}

.linkedin {
    background-color: blue;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.social-icon {
    list-style: none;
}

.instagram {
    background-color: #e4405f;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.hero {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero img {
    width: 650px;
    height: 400px;
    object-fit: cover;
}

header img {
    width: 80px;
    height: auto;
}

.about {
    padding: 80px 8%;
    background: black;
    display: flex;

}

.about-container {
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
}


.about-image {
    width: 40%;
}

.about-image img {
    width: 100%;
    max-width: 480px;
    border-radius: 100px;
    height: 700px;
}

.about-content {
    width: 60%;
}

.about-subtitle {
    color: red;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-content h2 {
    color: #0d87d8;
    font-size: 42px;
    margin: 0 0 25px;
    font-weight: 700;
}

.about-content p {
    color: blue;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 20px;
}


.about-tabs {
    display: flex;
    gap: 35px;
    margin: 30px 0;
    border-bottom: 1px solid #eee;
}

.about-tabs a {
    text-decoration: none;
    color: blue;
    font-size: 14px;
    padding-bottom: 12px;
}

.about-tabs a.active {
    background: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
}


.skills p {
    color: blue;
    font-size: 14px;
    margin: 12px 0;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image,
    .about-content {
        width: 100%;
    }

    .about-content h2 {
        font-size: 34px;
    }

    .about-tabs {
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }
}

p {
    font-size: 18px;
    font-weight: bold;
}

.about-subtitle {
    background-color: black;
}


.services {
    padding: 100px 8%;
    background: black;
}




.services-heading {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 60px;
}




.about-subtitle {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;

    background: linear-gradient(to right, purple, #e91e63);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




.services-heading h2 {
    font-size: 42px;
    color: rgb(0, 195, 255);
    margin-bottom: 20px;
}



.services-heading p {
    font-size: 16px;
    color: blue;
    line-height: 1.7;
}




.services-container {
    max-width: 1100px;
    margin: 0 auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
}




.service-box {
    padding: 30px 25px;
    background: white;
}



.service-icon {
    font-size: 35px;
    color: blue;
    margin-bottom: 20px;
}




.service-box h3 {
    font-size: 18px;
    color: blue;
    margin-bottom: 15px;
}




.service-box p {
    font-size: 15px;
    color: blue;
    line-height: 1.8;
}



@media (max-width: 768px) {

    .services {
        padding: 70px 5%;
    }

    .services-heading h2 {
        font-size: 32px;
    }

    .services-container {
        grid-template-columns: 1fr;
    }

    .service-box {
        text-align: center;
    }
}


.projects {
    padding: 100px 8%;
    background: black;
}




.projects-heading {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 60px;
}




.project-subtitle {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;

    background: linear-gradient(to right, purple, #e91e63);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




.projects-heading h2 {
    font-size: 42px;
    color: rgb(19, 133, 199);
    margin-bottom: 20px;
}




.projects-heading p {
    font-size: 16px;
    color: blue;
    line-height: 1.7;
}




.projects-container {
    max-width: 1100px;
    margin: 0 auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}




.project-box {
    height: 400px;

    position: relative;

    overflow: hidden;

    border-radius: 5px;
}




.project-box img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
}




.project-box::after {
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.45);
}




.project-content {
    position: absolute;

    left: 30px;
    bottom: 25px;

    z-index: 2;

    color: white;
}




.project-content span {
    font-size: 14px;
    font-style: italic;
}




.project-content h3 {
    font-size: 25px;
    margin: 12px 0 20px;
}



.project-content a {
    display: inline-block;

    padding: 8px 18px;

    border: solid blue;

    color: white;

    text-decoration: none;

    font-size: 14px;
}



.project-content a:hover {
    background: blue;
    color: blue;
}


@media (max-width: 768px) {

    .projects {
        padding: 70px 5%;
    }

    .projects-heading h2 {
        font-size: 32px;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }

    .project-box {
        height: 400px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: black;
}

.pricing-section {
    width: 100%;
    padding: 80px 20px;
    text-align: center;
}

.subtitle {
    color: plum;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
}

.description {
    max-width: 520px;
    margin: 0 auto 40px;
    color: blue;
    font-size: 13px;
    line-height: 1.6;
}

.pricing-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 18px;
}

.pricing-card {
    width: 31%;
    min-height: 355px;
    padding: 30px 25px;
    background: #fff;
    border: 1px solid #e5e5e5;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.pricing-card.featured {
    background: linear-gradient(135deg, black, blue);
    border: none;
    color: white;
}

.plan-name {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 8px;
}

.price {
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    color: blue;
    margin-bottom: 5px;
}

.featured .price {
    color: blue;
}

.currency-text {
    text-align: center;
    color: red;
    font-size: 10px;
    margin-bottom: 28px;
}

.featured .currency-text {
    color: red,(255, 255, 255, 0.8);
}

.features{
    list-style: none;
    flex: 1;
}

.features li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    color: blue;
    font-size: 11px;
}

.features li::before {
    content: "✓";
    position: absolute;
    left: 0;
    color: red;
    font-weight: bold;
}

.featured .features li {
    color: white;
}

.featured .features li::before {
    color: blue;
}

.purchase-btn {
    display: block;
    margin: 15px auto 0;
    padding: 11px 25px;
    min-width: 135px;
    border: 1px solid blue;
    border-radius: 25px;
    background: transparent;
    color: blue;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.featured .purchase-btn {
    background: white;
    border-color: blue;
    color: blue;
}

.purchase-btn:hover {
    background: pink;
    color: #fff;
}

.featured .purchase-btn:hover {
    background: transparent;
    color: #fff;
}

@media (max-width: 768px) {
    .pricing-container {
        flex-direction: column;
        align-items: center;
    }

    .pricing-card {
        width: 100%;
        max-width: 360px;
    }

    .pricing-card.featured {
        transform: none;
    }

    .title {
        font-size: 50px;
    }
}
.hire-section {
    width: 100%;
    padding: 80px 8%;
}

.hire-content {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}



.hire-left {
    width: 130%;
}

.small-title {
    font-size: 14px;
    color: purple;
    margin-bottom: 15px;
}

.hire-left h1 {
    font-size: 48px;
    line-height: 1.1;
    margin: 0 0 20px;
    color: skyblue;
}

.contact-info {
    font-size: 14px;
    line-height: 1.8;
    color: blue;
    margin-bottom: 30px;

}



.hire-left form {
    width: 100%;
}

.hire-left input,
.hire-left textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;

    border: 1px solid #eee;
    outline: none;
    font-size: 13px;
}

.hire-left input {
    height: 42px;
}

.hire-left textarea {
    height: 100px;
    resize: none;
}

.hire-left button {
    background: blue;
    color: white;
    border: none;
    padding: 12px 22px;
    cursor: pointer;
}


.hire-image {
    width: 600%;
    height: 500px;
}

.hire-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.whatsapp {
    background-color: #25D366;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp:hover {
    background-color: #128C7E;
}
.telegram{
    background-color: #0088cc;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}